<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Create Account</title>
    <script>
        function validatePassword() {
            var password = document.getElementById("newpsw").value;
            var confirmpassword = document.getElementById("confpsw").value;
            if (password !== confirmpassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <form action="/signup" method="post" onsubmit="return validatePassword()">
        <div class="container">
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
            
            <label for="newuname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="newuname" required>

            <label for="newpsw"><b>Password</b></label>
            <input type="password" id="newpsw" placeholder="Enter Password" name="newpsw" required>

            <label for="confpsw"><b>Confirm Password</b></label>
            <input type="password" id="confpsw" placeholder="Confirm Password" name="confpsw" required>

            <button type="submit">Create Account</button>
        </div>
    </form>
</body>
</html>
